In [40]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats

In [42]:
names = pd.read_csv('/Volumes/External SSD/ADA Project/ada-2022-project-earthnet/data/imdb/name.basics.tsv', sep='\t')
titles = pd.read_csv('/Volumes/External SSD/ADA Project/ada-2022-project-earthnet/data/imdb/title.basics.tsv', sep='\t')
ratings = pd.read_csv('/Volumes/External SSD/ADA Project/ada-2022-project-earthnet/data/imdb/title.ratings.tsv', sep='\t')

/var/folders/g4/ttsfd72s5qn1w8w3x92b3yyw0000gn/T/ipykernel_22445/973642759.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titles = pd.read_csv('/Volumes/External SSD/ADA Project/ada-2022-project-earthnet/data/imdb/title.basics.tsv', sep='\t')

In [31]:
names.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0053137,tt0072308,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0072562,tt0077975,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0060827,tt0050986,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0034583,tt0036855,tt0077711,tt0038109"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0034583,tt0037382,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0047296,tt0078788,tt0070849,tt0068646"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0061184,tt0087803,tt0059749,tt0057877"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0035575,tt0042041,tt0029870,tt0031867"

In [32]:
titles

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9363385,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9363386,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9363387,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9363388,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9363389,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [33]:
ratings.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1734
3  tt0000004            5.6       174
4  tt0000005            6.2      2545
5  tt0000006            5.1       175
6  tt0000007            5.4       797
7  tt0000008            5.4      2064
8  tt0000009            5.2       200
9  tt0000010            6.9      6965

In [37]:
first_merge = titles.merge(ratings, how='inner')

In [39]:
#first_merge.index.name = None
first_merge.drop(['titleType', 'isAdult', 'originalTitle', 'endYear', 'runtimeMinutes', 'genres', 'tconst', 'startYear'], axis = 1)

                           primaryTitle  averageRating  numVotes
0                            Carmencita            5.7      1922
1                Le clown et ses chiens            5.8       259
2                        Pauvre Pierrot            6.5      1734
3                           Un bon bock            5.6       174
4                      Blacksmith Scene            6.2      2545
...                                 ...            ...       ...
1246397  Horrid Henry Delivers the Milk            7.4         6
1246398                       The Nun 2            5.3       275
1246399                          6 Gunn            9.2         7
1246400                  Episode #10.15            6.7        21
1246401                          Escape            7.3        35

[1246402 rows x 3 columns]